@model Layout.Models.ViewModels.SolicitudInventarioViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CompletarInventario" method="post">
    @Html.AntiForgeryToken()


    <input type="hidden" asp-for="SolicitudId" />


    <h5 class="mt-4">Movimientos Técnicos</h5>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MovimientoRed" />
        <label class="form-check-label">
            Network movement (IT)
        </label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MovimientoIoT" />
        <label class="form-check-label">
            System Movement (IoT)
        </label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MovimientoProgramacion" />
        <label class="form-check-label">
            Programming Movements
        </label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MovimientoElectrico" />
        <label class="form-check-label">
            Electrical Movements
        </label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="MovimientoEHS" />
        <label class="form-check-label">
            EHS Equipment Relocation
        </label>
    </div>

    <div class="form-check mb-2">
        <input class="form-check-input" asp-for="CambioNomenclatura" />
        <label class="form-check-label">
            Cambio de nomenclatura
        </label>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" asp-for="RequierePCR" />
        <label class="form-check-label">
            Requiere PCR
        </label>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>

</form>

@section Scripts {
<script>

function toggleInput(checkId, inputId) {
    const chk = document.getElementById(checkId);
    const input = document.getElementById(inputId);

    // estado inicial
    input.readOnly = !chk.checked;

    chk.addEventListener("change", function () {
        input.readOnly = !this.checked;

        if (!this.checked) {
            input.value = "";
        }
    });
}

// ✅ inicializar todos
toggleInput("chkValidacion", "txtValidacion");
toggleInput("chkResponsable", "txtResponsable");
toggleInput("chkMandril", "txtMandril");
toggleInput("chkPallets", "txtPallets");
toggleInput("chkRazon", "txtRazon");
toggleInput("chkFecha", "txtFecha");

</script>
}
